{% extends "main/base.html" %}
{% block title %}View Recipes {% endblock %}

{% block content %}
<div id="content" name="content">
{% if user.is_authenticated%}
<div id='message'>Initial Text</div>
    <form method="post" action="#">
    {% csrf_token %}
        <p>Order recipes by:</p>
        <input type='radio' id='calories' name='orderby' value='calories'>
        <label for='calories'>Calories</label><br>
        <input type='radio' id='time' name='orderby' value='time'>
        <label for='time'>Time</label><br>

        <p> Choose one or more restriction categories </p>
        <input type='checkbox' id='vegeterian' name='restrict' value='vegeterian'>
        <label for='vegeterian'>Vegeterian</label><br>
        <input type='checkbox' id='vegan' name='restrict' value='vegan'>
        <label for='vegan'>Vegan</label><br>
        <input type='checkbox' id='gluten' name='restrict' value='gluten'>
        <label for='gluten'>Gluten Free</label><br>
        
        <p> Choose a meal type </p>
        <input type='radio' id='breakfast' name='meal_type' value='breakfast'>
        <label for='breakfast'>Breakfast</label><br>
        <input type='radio' id='lunch' name='meal_type' value='lunch'>
        <label for='lunch'>Lunch/Dinner</label><br>
        <input type='radio' id='dessert' name='meal_type' value='dessert'>
        <label for='dessert'>Dessert</label><br>
        
        <button type="submit" id='save' name='save' value='save'>Show Preferences</button>
    </form>
    <form method="get">
    {% csrf_token %}
    {% for user_recipe in posts%}
        <a href= {{user_recipe.recipe.url}} target="_blank"> <h1>{{user_recipe.recipe.name}}</h1></a>
        <img src={{user_recipe.recipe.image}}> 
        <p>Calories: {{user_recipe.recipe.calories}}</p>
        <p>Time: {{user_recipe.recipe.time}}</p>
        {% for genre in user_recipe.recipe.genre.all %}
            <p>{{genre}}</p>
        {% endfor %}
        {% if user_recipe.checked == False %}
            <button type="submit", name = 'add', value='{{user_recipe.recipe.id}}', id='add'> Add to Recipe List</button>
        {% else %}
            <button type="submit", name = 'sub', value='{{user_recipe.recipe.id}}', id='sub'> Remove Recipe From List</button>
        {% endif %}
    {% endfor %}
    </form>
    {% if posts.paginator.num_pages > 1 %}
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    {% endif %}
{% else %}
<a href="/login">Login Here to Access Content</a>
{% endif%}
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
