{% extends "main/base.html" %}
{% block title %}Grocery list{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Amount</th> 
      <th>Unit</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.amount}}</td>
      <td>{{ingredient.unit}}</td>
    </tr>
    {% endfor %}
  </table>
  {% for recipe in recipes%}
  <p>{{recipe.recipe.name}}</p>
  {% endfor %}
{% else%}
<a href="/login">Login Here to Access Content</a>
{% endif %}
{% endblock %}