{% extends "main/base.html" %}
{% block title %}Liked recipes{% endblock %}

{% block content %}
    {% if user.is_authenticated%}
    <div id="content" name="content">
        <form method="POST" action="#">
            {% csrf_token %}
            {% for user_recipe in user_recipes1%}
                {% if user_recipe.liked == True %}
                    <a href= {{user_recipe.recipe.url}} target="_blank"> <h1>{{user_recipe.recipe.name}}</h1></a>
                    <img src={{user_recipe.recipe.image}}>
                    <p>{{user_recipe.percent}}% match</p>
                    <p id='cal{{user_recipe.recipe.id}}'></p>
                    <p id='time{{user_recipe.recipe.id}}'></p>
                    <p id='genres{{user_recipe.recipe.id}}'></p>
                    {% if user_recipe.checked == True%}
                        <button type="submit", class = 'add', id = 'c{{user_recipe.recipe.id}}' value='{{user_recipe.recipe.id}}'>Remove From Grocery List</button>
                    {% else %}
                        <button type="submit", class = 'add', id = 'c{{user_recipe.recipe.id}}' value='{{user_recipe.recipe.id}}'>Add to Grocery List</button>
                    {% endif %}
                    {% if user_recipe.liked == True%}
                        <button type="submit", class = 'like', id = 'l{{user_recipe.id}}' value='{{user_recipe.id}}'>Dislike</button>
                    {% else %}
                        <button type="submit", class = 'like', id = 'l{{user_recipe.id}}' value='{{user_recipe.id}}'>Like</button>
                    {% endif %}
                    <button type='submit', class='show', id= 's{{user_recipe.recipe.id}}' value='{{user_recipe.recipe.id}}'>Show More</button>
                {% endif %}
            {% endfor %}
        </form>
    </div>
    {% else %}
    <a href="/login">Login Here to Access Content</a>
    {% endif %}
{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '.add', function (e) {
        e.preventDefault();
        $.ajax({
        type: 'POST',
        url: '{% url "main:add_recipe" %}',
        data: {
          postid: $(this).val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'post',
          checked: $(this).text()
        },
        success: function (json) {
            document.getElementById('c' + json['id']).textContent = json['result']
        },
        error: function (xhr, errmsg, err) {
    
        }
        });
    })
</script>
<script>
    $(document).on('click', '.like', function (h) {
        h.preventDefault();
        $.ajax({
        type: 'POST',
        url: '{% url "main:like" %}',
        data: {
          postid: $(this).val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'post',
          liked: $(this).text(),
        },
        success: function (json) {
            document.getElementById('l' + json['id']).textContent = json['result']
        },
        error: function (xhr, errmsg, err) {
    
        }
        });
    })
</script>
<script>
    $(document).on('click', '.show', function (b) {
        b.preventDefault();
        $.ajax({
        type: 'POST',
        url: '{% url "main:show" %}',
        data: {
          postid: $(this).val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'post',
          shown: $(this).text(),
        },
        success: function (json) {
            document.getElementById('s' + json['id']).textContent = json['result']
            document.getElementById('time' + json['id']).textContent = json['time']
            document.getElementById('cal' + json['id']).textContent = json['calories']
            document.getElementById('genres' + json['id']).textContent = json['genres']
        },
        error: function (xhr, errmsg, err) {
    
        }
        });
    })
</script>
{% endblock%}