body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #03071E;
}
a.nav-item {
    color: black; 
}
a.nav-item:hover {
    color: white;
}
.large-icon {
    font-size: 25px;
}
.navbar {
    background: linear-gradient(45deg, #FF7B00, #FFC300);
}

.main #content {
    overflow: hidden;
    background-color: white;
}
